.news_sidebar {
  width: 300px;
}

.news_content {
  width: calc(100% - 300px);
}

.news_card h2 {
  transition: 0.3s;
}
.news_card:hover h2 {
  color: #f2682b;
}

@media only screen and (max-width: 768px) {
  .news_content {
    width: 100%;
  }

  .news_sidebar {
    height: 100vh;
    position: fixed;
    background: #fff;
    top: 0;
    z-index: 999;
    left: 0;
    padding: 6px;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }

  .news_sidebar_show {
    transform: translateX(0%);
  }
}
