.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_wrap ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 15px;
  color: #404145;
  font-weight: 500;
  z-index: 9999;
}

.menu_wrap ul li {
  position: relative;
}

.menu_wrap ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px;
  width: 100%;

  transition: all 0.4s ease;
}

.menu_wrap ul li a:hover {
  color: var(--primary);
}

@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 640px) {
  .menu_wrap ul {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 106vh;
    background: #fff;
    overflow-y: auto;
    z-index: 99999;

    transform: translateX(-100%);
    transition: all 0.3s ease;
  }

  .menu_wrap ul.show {
    transform: translateX(0%);
  }

  .menu_wrap ul li a {
    padding: 10px 15px;
  }

  .menu_wrap ul li a.active,
  .menu_wrap ul li a:hover {
    color: var(--neutral);
  }
}

@media only screen and (max-width: 350px) {
  .menu_wrap ul {
    width: 90%;
  }
}
