.banner_content {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);

  color: #fff;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #000000d3, #00000000);

  display: flex;
  align-items: center;
}

.banner_content h2 {
  font-size: 40px;
  font-weight: 600;
}

.banner_content p {
  font-size: 15px;
  color: #ddddddeb;
  margin-top: 14px;
  margin-bottom: 30px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #f4951e !important;
}
span.swiper-pagination-bullet {
  background: #ddd;
}
