/* ----------------Dashboard------------------- */
aside.dashboard_siderbar_wrap {
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c;
}

.dashboard_content {
  width: calc(100% - 310px);
  min-height: 100vh;
  position: relative;
  left: 310px;
  padding-right: 20px;
}

.dashboard_siderbar ul li a {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 5px;
  font-size: 15px;
  transition: all 0.3s ease;
}

.dashboard_siderbar ul li a:hover {
  color: #045cac;
}

.dashboard_siderbar .active {
  box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
}

@media only screen and (max-width: 1024px) {
  aside.dashboard_siderbar_wrap {
    transform: translateX(-100%);
    z-index: 9999;
    background: #fff;
    transition: all 0.3s ease;
  }

  .dashboard_sidebar_show {
    transform: translateX(0%) !important;
  }

  .dashboard_content {
    width: 100%;
    left: 0;
    padding: 10px;
  }
}

@media only screen and (max-width: 350px) {
  aside.dashboard_siderbar_wrap {
    width: 90%;
  }
}

table.dashboard_table {
  width: 100%;
  font-size: 15px;
  border-radius: 6px;
  overflow: hidden;
}

table.dashboard_table thead th {
  background: #dddddd94;
  border: none;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #404145e6;
  text-transform: uppercase;
  text-align: start;
  white-space: nowrap;
}

table.dashboard_table tbody td {
  border: none;
  font-size: 14px;
  padding: 10px;
  text-align: start;
  border-bottom: 1px solid #dddddd94;
}

table.dashboard_table tbody tr:nth-child(even) {
  background: #dddddd2e !important;
}
table.dashboard_table tbody tr:nth-child(odd) {
  background: transparent !important;
}
